<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digimon Recommendation</title>
</head>
<body>
    <table>
        <tr>
            <td> Digimon Favorit </td>
        </tr>
        <tr><td><br></td></tr>

        <tr>
            <td> <img src={{dfdigi['img'].values[0]}} >  </td>
            <td>{{dfdigi['Digimon'].values[0]}} <br>
                Stage =  {{dfdigi['Stage'].values[0]}}
                Type = {{dfdigi['Type'].values[0]}}
                Attribute = {{dfdigi['Attribute'].values[0]}} </td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td> Digimon Rekomendasi </td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td> <img src={{dfDR['img'].values[0]}} >  </td>
            <td>{{dfDR['Digimon'].values[0]}} <br>
                Stage =  {{dfDR['Stage'].values[0]}}
                Type = {{dfDR['Type'].values[0]}}
                Attribute = {{dfDR['Attribute'].values[0]}} </td>
        </tr>
        <tr>
            <td> <img src={{dfDR['img'].values[1]}} >  </td>
            <td>{{dfDR['Digimon'].values[1]}} <br>
                Stage =  {{dfDR['Stage'].values[1]}}
                Type = {{dfDR['Type'].values[1]}}
                Attribute = {{dfDR['Attribute'].values[1]}} </td>
        </tr>
        <tr>
            <td> <img src={{dfDR['img'].values[2]}} >  </td>
            <td>{{dfDR['Digimon'].values[2]}} <br>
                Stage =  {{dfDR['Stage'].values[2]}}
                Type = {{dfDR['Type'].values[2]}}
                Attribute = {{dfDR['Attribute'].values[2]}} </td>
        </tr>
        <tr>
            <td> <img src={{dfDR['img'].values[3]}} >  </td>
            <td>{{dfDR['Digimon'].values[3]}} <br>
                Stage =  {{dfDR['Stage'].values[3]}}
                Type = {{dfDR['Type'].values[3]}}
                Attribute = {{dfDR['Attribute'].values[3]}} </td>
        </tr>
        <tr>
            <td> <img src={{dfDR['img'].values[4]}} >  </td>
            <td>{{dfDR['Digimon'].values[4]}} <br>
                Stage =  {{dfDR['Stage'].values[4]}}
                Type = {{dfDR['Type'].values[4]}}
                Attribute = {{dfDR['Attribute'].values[4]}} </td>
        </tr>
        <tr>
            <td> <img src={{dfDR['img'].values[5]}} >  </td>
            <td>{{dfDR['Digimon'].values[5]}} <br>
                Stage =  {{dfDR['Stage'].values[5]}}
                Type = {{dfDR['Type'].values[5]}}
                Attribute = {{dfDR['Attribute'].values[5]}} </td>
        </tr>
    </table>

    <form action="http://localhost:5000/">
        <button type="submit">Kembali</button>
     </form>
</body>
</html>